body {
    margin: 0;
    padding: 0;
    background-color: #e0e3eb;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-box {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

#display {
    width: 100%;
    height: 60px;
    background-color: #ecf0f3;
    border: none;
    margin-bottom: 20px;
    font-size: 30px;
    text-align: right;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    color: #333;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 65px);
    gap: 10px;
}

button {
    height: 60px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background-color: #555;
}

.op-btn {
    background-color: #ff9f43;
    color: #fff;
    font-weight: bold;
}

.op-btn:hover {
    background-color: #e58e3c;
}

.clear-btn {
    background-color: #ff6b6b;
    font-weight: bold;
}

.equal-btn {
    background-color: #2ecc71;
    font-weight: bold;
}